<<<<<<< HEAD
body {background-color:rgb(0, 0, 0);
    font-family:arial;
    color:white;
}
h1{color:grey;
font-family: verdana;
}

.maindiv {
    background-color:white;
    color:rgb(0, 0, 0);
    width: 500px;
    padding:20px;
    border-radius:25px;
    align:center;
}

.innerdiv {
    text-align:center;
}

.footer {
    text-align:left;
}


.results {
    background-color: chartreuse;
}
=======
body {background-color:tan;}
h1{color:green;}
>>>>>>> 3b520ac3d2015e4a3be37248e76a6d48c7afff98
